{
 :objects {
           :stockQuote {:description "Spot price of Stock"
                     :fields {:ric {:type (non-null String)}
                              :price {:type (non-null String)}
                              :lastTraded {:type String}}}
           }

 :queries
 {:hello
  {:type String
   :resolve :resolve-hello}}

 :subscriptions
 {:ping
  {:type String
   :stream :ping-response}

  :watchStock {:type String
               :description "Retrieve a single BoardGame by its unique id."
               :stream :stock-quote}
  }
}

